
.main{
    /* background-image: url("bgimg.jpg") ; */
    width: 100vw;
    height: 100vh;
    

}
.name{
    text-align: center;
    width: 100%;
    color: rgb(7, 250, 250);
}
.body{
    display: flex;
    align-items: center;
    

}
.img>img{
    width: 30%;
    height: 50%;
}