
.main{
    width: 100vw;
    height: 100vh;
}


.body{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img>img{
    border: none;
    width: 70%;
    height: 50%;
}
.white{
    margin-left: 2rem;
    width: 50%;
    font-size: 25px;
    color: aliceblue;
}
.orange{
    margin-left: 3rem;
    font-size: 40px;
    font-weight: 600;
    color: #f2771a;
}
.img{
    width: 50%;
}