.main{
    height: 5rem;
    width: 100vw;
    
    color: rgb(18, 19, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    box-shadow: 0 0 20px black;
}
.logo{
    height: 100%;
    width: 20%;

}

.logo>img{
    margin-left: 1rem;
    height: 100%;
    width: 100%;
    
}
.links{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}
.link{
    list-style: none;
    text-decoration: none;
    margin-right: 1rem;
}
.link>a{
    font-weight: 650;
    font-size: 20px;
    color: rgb(248, 250, 252);
    text-decoration: none;

}
