.main{
    height: 4rem;
    width: 100vw;
    
    color: rgb(18, 19, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.logo{
    display: flex;
    align-items: center;

}

.logo>img{
    height: 2.45rem;
    width: 2.45rem;
    border-radius: 100%;
}
.links{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}
.link{
    text-decoration: none;
    margin-right: 1rem;
}
