.App {
  text-align: center;
}

.container{
  background: black url("https://img5.goodfon.com/wallpaper/nbig/1/75/poza-muscle-myshtsy-shtanga-press-atlet-gym-bodibilder-abs-1.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}